.logoRef{
  width: 50%;
}

.headerlbl{
  font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
  font-weight: bold;
  font-size: 22px;
  color: #21613d;
}

.textlbl{
  font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
  font-size: 18px;
  color: #b48444;

}

.textomenu {
  text-align: center;
  color: white;
}

.avatarm {
  height: 110px;
  width: 110px;
  border: 1px solid #fff;
  border-radius: 50%;
  display: inline-block;
  margin-left: 32%;
  margin-right: 30%;
}

.listSide {
  padding: 0%;
}

.labelmenu{
  color: black;
}

.menuimg{
  width: 60%;
}