.headerlbl {
  font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
  font-weight: bold;
  font-size: 22px;
  color: #21613d;
}

.textlbl {
  font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
  font-size: 18px;
  color: #b48444;
}

.input {
  font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
  font-size: 18px;
  color: #494946;
}

.textlbl2 {
  font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
  font-size: 18px;
}

.textlbl3 {
  font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
  font-size: 18px;
  color: #b48444;
  margin-left: 20px;
}

.inputMen {
  margin-top: 14px !important;
  width: 70%;
  height: 80px;
  background-color: white;
  font-size: 15px;
  border-radius: 10px;
}

div.scrollmenu {
  background-color: #b0b1a7;
  overflow: auto;
  white-space: nowrap;
  border-radius: 15px;
}

div.scrollmenu a {
  display: inline-block;
  color: white;
  text-align: center;
  padding: 14px;
  text-decoration: none;
}

div.scrollmenu a:hover {
  background-color: #b0b1a7;
}

td {
  padding: 10px 10px 10px 10px;
}

.td1{
  padding: 20px;
}

.colorTR {
  background: white !important;
}

.colorBlack1 {
  color: black;
  font-weight: bold;
}

.colorTR {
  background: white !important;
}
