<ion-header [translucent]="true">
  <ion-toolbar color="secondary" class="ion-text-center">
    <ion-buttons slot="start">
      <ion-back-button></ion-back-button>
    </ion-buttons>
    <ion-title>
      Salida de almacén
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content class="ion-padding">

  <ion-item>
    <ion-label class="textlbl2" position="stacked">Su ubicación actual:</ion-label>
    <ion-input class="input" disabled="true">{{myNameLocation}}</ion-input>
  </ion-item>
  <ion-item mode="ios">
    <ion-label class="textlbl">Seleccione el destino:</ion-label>
    <ion-select (ionChange)="selectDestino($event)" mode="ios" okText="Aceptar" cancelText="Cancelar">
      <ion-select-option *ngFor="let ubicacion of locationArr" value="{{ubicacion.IdUbicacion}}">
        {{ubicacion.NombreUbicacion}}</ion-select-option>
    </ion-select>
  </ion-item>
  <br>
  <ion-label class="textlbl3">Leer etiqueta:</ion-label>
  <div class="ion-text-center">
    <textarea disabled="{{enterInfo}}" (keyup.enter)="onEnter($event)" class="inputMen" [(ngModel)]="tarima"
      placeholder="Coloque su scaneo"> </textarea>
  </div>
  <br>
  <br>
  <ion-label class="textlbl3">Transferencias exitosas</ion-label>
  <br>
  <br>
  <div class="scrollmenu">
    <table>
      <tr>
        <td class="ion-text-center td1">
          <ion-label class="colorBlack1"> No. </ion-label>
        </td>
        <td class="ion-text-center">
          <ion-label class="colorBlack1"> Mensaje </ion-label>
        </td>
      </tr>

      <tr class="colorTR" *ngFor="let transferencia of arrTransferencias; index as i">
        <td class="ion-text-center td1">
          <ion-label class="colorBlack1"> {{i+1}} </ion-label>
        </td>
        <td class="ion-text-center">
          <ion-label class="colorBlack1"> {{transferencia.Message}} </ion-label>
        </td>
      </tr>
    </table>
  </div>
  <br>
  <ion-label class="textlbl3">Transferencias no realizadas</ion-label>
  <br>
  <br>
  <div class="scrollmenu">
    <table>
      <tr>
        <td class="ion-text-center td1">
          <ion-label class="colorBlack1"> No. </ion-label>
        </td>
        <td class="ion-text-center">
          <ion-label class="colorBlack1"> Mensaje </ion-label>
        </td>
      </tr>

      <tr class="colorTR" *ngFor="let transferencia of arrTransferenciasFailed; index as i">
        <td class="ion-text-center td1">
          <ion-label class="colorBlack1"> {{i+1}} </ion-label>
        </td>
        <td class="ion-text-center">
          <ion-label class="colorBlack1"> {{transferencia.Message}} </ion-label>
        </td>
      </tr>
    </table>
  </div>
  <br>
  <br>
  <br>
  <ion-button expand="block" shape="round" class="button" color="primary" (click)="goReset()">
    Nueva transferencia
  </ion-button>

</ion-content>
