.textlbl{
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    font-size: 18px;
    color: black;
    font-weight: bold;
}

.colorlaberl{
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    font-size: 18px;
    color: #908c46;
    font-weight: bold;  
}

.inputTitle { 
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    font-size: 18px;
    color: #21613d;
}

.inputDesc {
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    font-size: 16px;
    margin-left: 5%;
    color: #32332d;
}

div.scrollmenu {
    background-color: #b0b1a7;
    overflow: auto;
    white-space: nowrap;
    border-radius: 15px;
  }
  
  div.scrollmenu a {
    display: inline-block;
    color: white;
    text-align: center;
    padding: 14px;
    text-decoration: none;
  }
  
  div.scrollmenu a:hover {
    background-color: #b0b1a7;
  }
  
  td{
    padding: 20px;
  }
  
  .colorTR{
    background: white !important;
  }

  .colorBlack1{
    color: black;
    font-weight: bold;
  }

  .colorTR{
    background: white !important;
  }

  .inputMen {
    margin-top: 14px !important;
    width: 70%;
    height: 80px;
    background-color: white;
    font-size: 15px;
    border-radius: 10px;
  }